.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $light-color;
  height: 100vh;
  padding-top: 18px;
  padding-left: 10px;
  padding-bottom: 52px;

  &__searchBtn {
    width: 180px;
    height: 40px;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 500;
    background-color: $tertiary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__stateIcon {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 30px;
  }

  &__stateIconBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    transform: translate(-100px, -20px);
    opacity: 0.1;
  }

  &__imgContainer {
    width: 150px;
    margin-top: 70px;
    object-fit: contain;
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__temperature {
    font-weight: 500;
    font-size: 144px;
    margin: 0;

    &::after {
      content: 'ºC';
      font-size: 60px;
      color: $secondary-light-color;
    }
  }

  &__state {
    font-size: 36px;
    font-weight: 500;
    color: $secondary-light-color;
  }

  &__dateContainer {
    font-size: 18px;
    color: $secondary-light-color;

    span {
      &:first-child {
        margin-right: 40px;
      }
    }
  }

  &__location {
    font-size: 18px;
    color: $secondary-light-color;
  }
}
